

header {

  .slika {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;

    .mask {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100vh;

      .poruke {
        position: absolute;
        top: 70%;

      }
    }
  }
}